body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #F1E9E5;
}

h1,
h2 {
    font-family: 'Oswald', sans-serif;
}

p {
    font-family: 'Ubuntu', sans-serif;
}

header {
    background-color: #464660;
    text-align: center;
    padding: 20px;
}

header img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

header h1 {
    margin: 10px 0;
    color: white;
}

header p {
    color: white;
    font-size: 18px;
}

section {
    background-color: #B4B897;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
}

#skills ul {
    list-style-type: none;
    padding: 0;
}

#skills li {
    background-color: #368B85;
    padding: 8px;
    margin: 5px;
    display: inline-block;
    font-size: large;
    border-radius: 4px;
    font-family: 'Oswald', sans-serif;
}

footer {
    background-color: #464660;
    text-align: center;
    padding: 20px;
    font-size: 16px;
    color: #F1E9E5;
}

footer a {
    color: #368B85;
    text-decoration: none;
}

footer a:hover {
    text-decoration: mediumpurple;
}